<div class="container">
  <div class="row">
    <div class="fs-4 text-center mt-5">VECTOR GROUP TEST</div>
    <div class="col-md-6">
      <table class="table table-bordered border-secondary mt-5">
        <tbody>
          <tr>
            <th>Shorted</th>
            <td>1U-2U</td>
          </tr>
          <tr>
            <th>Supply</th>
            <td>1U-1V-1W = 400 V</td>
          </tr>
          <tr>
            <th class="text-center" colspan="2">VOLTAGE MEASURED ACROSS</th>
          </tr>
          <tr>
            <th>1V2V</th>
            <td>396 V</td>
          </tr>
          <tr>
            <th>1W2W</th>
            <td>396 V</td>
          </tr>
          <tr>
            <th>1V2W</th>
            <td>396 V</td>
          </tr>
          <tr>
            <th>1W2V</th>
            <td>401V</td>
          </tr>
          <tr>
            <th>1U2N</th>
            <td>2.9 V</td>
          </tr>
          <tr>
            <th>1V2N</th>
            <td>396 V</td>
          </tr>
          <tr>
            <td colspan="2">1V2V = 1V2W</td>
          </tr>
          <tr>
            <td colspan="2">1W2V > 1W2W</td>
          </tr>
          <tr>
            <td colspan="2">1U2N + 1V2N = 1U1V</td>
          </tr>
          <tr>
            <th colspan="2">Hence Dyn11</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <div class="align-middle">
        <img src="./assets/images/logo.png" alt="" />
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary">Save and Next</button>
    </div>
  </div>
</div>
