<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <div class="fs-4 text-center mb-5">
        Please select your test one by one
      </div>
      <table class="table table-bordered border-secondary shadow">
        <thead>
          <tr>
            <th>SR.No</th>
            <th>Test Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedTestCasesData; let i = index">
            <td class="align-middle">{{ i + 1 }}</td>
            <td>
              <button class="btn btn-primary">
                {{ item.test }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
