<div class="text-center container">
  <h1 class="m-5">Measurement of No Load Loss and No Load Current</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="input-group">
        <div class="input-group-text">
          TRANSFORMER ENERGIZED FROM <span class="ms-5">HV</span>
        </div>
        <input type="text" class="form-control" value="33 KV" disabled />
      </div>
      <div class="input-group mt-3">
        <div class="input-group-text">GUAR. NO LOAD LOSS AT 100% VOLTAGE</div>
        <input type="text" class="form-control" value="33 KV" disabled />
      </div>
      <div class="d-flex mt-3">
        <div class="input-group">
          <div class="input-group-text">CTR</div>
          <input type="text" class="form-control" value="1" disabled />
        </div>
        <div class="input-group ms-2">
          <div class="input-group-text">CTR</div>
          <input type="text" class="form-control" value="1" disabled />
        </div>
      </div>
      <div class="input-group mt-3">
        <div class="input-group-text">% No Load Current</div>
        <input type="text" class="form-control" value="0.05 %" disabled />
      </div>
    </div>
  </div>
  <div class="container">
    <table
      class="table mt-4 table-striped table-bordered table-hover table-condensed"
    >
      <thead class="bg-primary">
        <tr>
          <th colspan="2">Voltage (V)</th>
          <th colspan="2">Current (mA)</th>
          <th colspan="2">Power (W)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>V1</td>
          <td>
            <input 
              type="number" 
              class="form-control"
              formControlName="v1"
                [ngClass]="{
                  'is-valid':
                    form9.get('v1')?.valid && form9.get('v1')?.touched,
                  'is-invalid':
                    !form9.get('v1')?.valid && form9.get('v1')?.touched
                }"
                (ngModelChange)="handlev1($event)"
              />
              <span class="invalid-feedback">Please enter value of v1</span>
          </td>

          <td>I1</td>
          <td>
            <input 
            type="number" 
            class="form-control"
            formControlName="i1"
              [ngClass]="{
                'is-valid':
                  form9.get('i1')?.valid && form9.get('i1')?.touched,
                'is-invalid':
                  !form9.get('i1')?.valid && form9.get('i1')?.touched
              }"
              (ngModelChange)="handlei1($event)"
            />
            <span class="invalid-feedback">Please enter value of i1</span>
          </td>
          
          <td>P1</td>
          <td>
            <input 
            type="number" 
            class="form-control"
            formControlName="p1"
              [ngClass]="{
                'is-valid':
                  form9.get('p1')?.valid && form9.get('p1')?.touched,
                'is-invalid':
                  !form9.get('p1')?.valid && form9.get('p1')?.touched
              }"
              (ngModelChange)="handlep1($event)"
            />
            <span class="invalid-feedback">Please enter value of p1</span></td>
        </tr>

        <!--  -->

        <tr>
          <td>V2</td>
          <td>
            <input 
            type="number" 
            class="form-control"
            formControlName="v2"
              [ngClass]="{
                'is-valid':
                  form9.get('v2')?.valid && form9.get('v2')?.touched,
                'is-invalid':
                  !form9.get('v2')?.valid && form9.get('v2')?.touched
              }"
              (ngModelChange)="handlev2($event)"
            />
            <span class="invalid-feedback">Please enter value of v2</span></td>
          <td>I2</td>
          <td>
            <input 
            type="number" 
            class="form-control"
            formControlName="i2"
              [ngClass]="{
                'is-valid':
                  form9.get('i2')?.valid && form9.get('i2')?.touched,
                'is-invalid':
                  !form9.get('i2')?.valid && form9.get('i2')?.touched
              }"
              (ngModelChange)="handlei2($event)"
            />
            <span class="invalid-feedback">Please enter value of i2</span></td>
          <td>P2</td>
          <td>
            <input 
            type="number" 
            class="form-control"
            formControlName="p2"
              [ngClass]="{
                'is-valid':
                  form9.get('p2')?.valid && form9.get('p2')?.touched,
                'is-invalid':
                  !form9.get('p2')?.valid && form9.get('p2')?.touched
              }"
              (ngModelChange)="handlep2($event)"
            />
            <span class="invalid-feedback">Please enter value of p2</span></td>
        </tr>

        <!--  -->

        <tr>
          <td>V3</td>
          <td>
            <input 
            type="number" 
            class="form-control"
            formControlName="v3"
              [ngClass]="{
                'is-valid':
                  form9.get('v3')?.valid && form9.get('v3')?.touched,
                'is-invalid':
                  !form9.get('v3')?.valid && form9.get('v3')?.touched
              }"
              (ngModelChange)="handlev3($event)"
            />
            <span class="invalid-feedback">Please enter value of v3</span></td>
          <td>I3</td>
          <td>
            <input 
            type="number" 
            class="form-control"
            formControlName="i3"
              [ngClass]="{
                'is-valid':
                  form9.get('i3')?.valid && form9.get('i3')?.touched,
                'is-invalid':
                  !form9.get('i3')?.valid && form9.get('i3')?.touched
              }"
              (ngModelChange)="handlei3($event)"
            />
            <span class="invalid-feedback">Please enter value of i3</span></td>
          <td>P3</td>
          <td>
            <input 
            type="number" 
            class="form-control"
            formControlName="p3"
              [ngClass]="{
                'is-valid':
                  form9.get('p3')?.valid && form9.get('p3')?.touched,
                'is-invalid':
                  !form9.get('p3')?.valid && form9.get('p3')?.touched
              }"
              (ngModelChange)="handlep3($event)"
            />
            <span class="invalid-feedback">Please enter value of p3</span></td>
        </tr>

        <!--  -->

        <tr>
          <td>V</td>
          <td>
            <input 
              type="number"
              class="form-control"
              readonly
              value="{{ vAvgData }}"
              />
          </td>
          <td>I</td>
          <td>
            <input 
              type="number"
              class="form-control"
              readonly
              value="{{ iAvgData }}"
              />
          </td>
          <td>P</td>
          <td>
            <input 
              type="number"
              class="form-control"
              readonly
              value="{{ pSumData }}"
              />
          </td>
        </tr>

        <!--  -->

        <tr>
          <td>Vapplied</td>
          <td>
            <input type="number" class="form-control" id="p9vap" readonly />
          </td>
          <td>I (N.L.)</td>
          <td>
            <input type="number" class="form-control" id="p9inl" readonly />
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table
      class="table mt-4 table-striped table-bordered table-hover table-condensed"
    >
      <tbody>
        <tr>
          <td>No Load Loss</td>
          <td><input type="number" class="form-control" readonly /></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-primary text-center m-4" [routerLink]="['/tests']">
      Save and Next
    </button>
  </div>
</div>
