<div class="text-center container">
  <h1 class="m-5">Measurement of No Load Loss and No Load Current</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="input-group">
        <div class="input-group-text">
          TRANSFORMER ENERGIZED FROM <span class="ms-5">HV</span>
        </div>
        <input type="text" class="form-control" value="33 KV" disabled />
      </div>
      <div class="input-group mt-3">
        <div class="input-group-text">GUAR. NO LOAD LOSS AT 100% VOLTAGE</div>
        <input type="text" class="form-control" value="33 KV" disabled />
      </div>
      <div class="d-flex mt-3">
        <div class="input-group">
          <div class="input-group-text">CTR</div>
          <input type="text" class="form-control" value="1" disabled />
        </div>
        <div class="input-group ms-2">
          <div class="input-group-text">CTR</div>
          <input type="text" class="form-control" value="1" disabled />
        </div>
      </div>
      <div class="input-group mt-3">
        <div class="input-group-text">% No Load Current</div>
        <input type="text" class="form-control" value="0.05 %" disabled />
      </div>
    </div>
  </div>
  <div class="container">
    <table
      class="table mt-4 table-striped table-bordered table-hover table-condensed"
    >
      <thead class="bg-primary">
        <tr>
          <th colspan="2">Voltage (V)</th>
          <th colspan="2">Current (mA)</th>
          <th colspan="2">Power (W)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>V1</td>
          <td><input type="number" class="form-control" id="p9v1" /></td>
          <td>I1</td>
          <td><input type="number" class="form-control" id="p9i1" /></td>
          <td>P1</td>
          <td><input type="number" class="form-control" id="p9p1" /></td>
        </tr>
        <tr>
          <td>V2</td>
          <td><input type="number" class="form-control" id="p9v2" /></td>
          <td>I2</td>
          <td><input type="number" class="form-control" id="p9i2" /></td>
          <td>P2</td>
          <td><input type="number" class="form-control" id="p9p2" /></td>
        </tr>
        <tr>
          <td>V3</td>
          <td><input type="number" class="form-control" id="p9v3" /></td>
          <td>I3</td>
          <td><input type="number" class="form-control" id="p9i3" /></td>
          <td>P3</td>
          <td><input type="number" class="form-control" id="p9p3" /></td>
        </tr>
        <tr>
          <td>V</td>
          <td>
            <input type="number" class="form-control" id="p9v" readonly />
          </td>
          <td>I</td>
          <td>
            <input type="number" class="form-control" id="p9i" readonly />
          </td>
          <td>P</td>
          <td>
            <input type="number" class="form-control" id="p9p" readonly />
          </td>
        </tr>
        <tr>
          <td>Vapplied</td>
          <td>
            <input type="number" class="form-control" id="p9vap" readonly />
          </td>
          <td>I (N.L.)</td>
          <td>
            <input type="number" class="form-control" id="p9inl" readonly />
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table
      class="table mt-4 table-striped table-bordered table-hover table-condensed"
    >
      <tbody>
        <tr>
          <td>No Load Loss</td>
          <td><input type="number" class="form-control" readonly /></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-primary text-center m-4">Save and Next</button>
  </div>
</div>
