<div class="text-center">
  <br />
  <br />

  <h1>Separate source</h1>

  <br />
  <br />

  <form>
    <div class="container">
      <table
        class="table table-striped table-bordered table-hover table-condensed"
      >
        <thead class="bg-primary">
          <tr>
            <th rowspan="2">Winding Under Test</th>
          </tr>
          <tr>
            <th>V rated</th>
            <th>Test volt</th>
            <th>Test Time</th>
            <th>Frequency</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HV</td>
            <td>
              <input type="number" id="reatedVoltageHV" class="form-control" />
            </td>
            <td>
              <input type="number" id="TestVoltHV" class="form-control" />
            </td>
            <td>
              <input type="number" id="TestTimeHV" class="form-control" />
            </td>
            <td><input type="number" id="FreqHV" class="form-control" /></td>
          </tr>
          <tr>
            <td>LV</td>
            <td>
              <input type="number" id="reatedVoltageLV" class="form-control" />
            </td>
            <td>
              <input type="number" id="TestVoltLV" class="form-control" />
            </td>
            <td>
              <input type="number" id="TestTimeLV" class="form-control" />
            </td>
            <td><input type="number" id="FreqLV" class="form-control" /></td>
          </tr>
        </tbody>
      </table>
      <br />
      <br />

      <h2>
        <label for="BPV"
          >BVP of all sample: &nbsp;&nbsp;
          <input
            type="text"
            id="BVP"
            name="BVP"
            required
            minlength="6"
            maxlength="10"
            size="15"
        /></label>
      </h2>
    </div>
    <br />
    <br /><br /><br />

    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>
</div>
