<div class="container">
  <h1 class="m-4 text-center">Separate source voltage withstand test</h1>
  <form [formGroup]="form11" (ngSubmit)="createPage11FormData(form11)">
    <table
      class="table table-striped table-bordered table-hover table-condensed"
    >
      <thead class="bg-primary">
        <tr>
          <th rowspan="2">Winding Under Test</th>
        </tr>
        <tr>
          <th>V rated</th>
          <th>Test volt</th>
          <th>Test Time</th>
          <th>Frequency</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>HV</td>
          <td>
            <input
              type="number"
              class="form-control"
              value="{{ page2DataLoadInPage11?.ratedVoltageHV }}"
              formControlName="reatedVoltageHV"
              [ngClass]="{
                'is-valid':
                  form11.get('reatedVoltageHV')?.valid &&
                  form11.get('reatedVoltageHV')?.touched,
                'is-invalid':
                  !form11.get('reatedVoltageHV')?.valid &&
                  form11.get('reatedVoltageHV')?.touched
              }"
            />
            <span class="invalid-feedback"
              >Please enter value for v rated for HV</span
            >
          </td>
          <td>
            <input
              type="number"
              id="testVoltHV"
              class="form-control"
              formControlName="testVoltHV"
              [ngClass]="{
                'is-valid':
                  form11.get('testVoltHV')?.valid &&
                  form11.get('testVoltHV')?.touched,
                'is-invalid':
                  !form11.get('testVoltHV')?.valid &&
                  form11.get('testVoltHV')?.touched
              }"
            />
            <span class="invalid-feedback"
              >Please enter value for v rated for HV</span
            >
          </td>
          <td>
            <input
              type="number"
              id="testTimeHV"
              class="form-control"
              formControlName="testTimeHV"
              [ngClass]="{
                'is-valid':
                  form11.get('testTimeHV')?.valid &&
                  form11.get('testTimeHV')?.touched,
                'is-invalid':
                  !form11.get('testTimeHV')?.valid &&
                  form11.get('testTimeHV')?.touched
              }"
            />
            <span class="invalid-feedback"
              >Please enter value for v rated for HV</span
            >
          </td>
          <td>
            <input
              type="number"
              id="freqHV"
              class="form-control"
              formControlName="freqHV"
              [ngClass]="{
                'is-valid':
                  form11.get('freqHV')?.valid && form11.get('freqHV')?.touched,
                'is-invalid':
                  !form11.get('freqHV')?.valid && form11.get('freqHV')?.touched
              }"
            />
            <span class="invalid-feedback"
              >Please enter value for v rated for HV</span
            >
          </td>
        </tr>
        <tr>
          <td>LV</td>
          <td>
            <input
              type="number"
              id="reatedVoltageLV"
              class="form-control"
              value="{{ page2DataLoadInPage11?.ratedVoltageLV }}"
              formControlName="reatedVoltageLV"
              [ngClass]="{
                'is-valid':
                  form11.get('reatedVoltageLV')?.valid &&
                  form11.get('reatedVoltageLV')?.touched,
                'is-invalid':
                  !form11.get('reatedVoltageLV')?.valid &&
                  form11.get('reatedVoltageLV')?.touched
              }"
            />
            <span class="invalid-feedback"
              >Please enter value for v rated for HV</span
            >
          </td>
          <td>
            <input
              type="number"
              class="form-control"
              formControlName="testVoltLV"
              [ngClass]="{
                'is-valid':
                  form11.get('testVoltLV')?.valid &&
                  form11.get('testVoltLV')?.touched,
                'is-invalid':
                  !form11.get('testVoltLV')?.valid &&
                  form11.get('testVoltLV')?.touched
              }"
            />
            <span class="invalid-feedback"
              >Please enter value for v rated for HV</span
            >
          </td>
          <td>
            <input
              type="number"
              class="form-control"
              formControlName="testTimeLV"
              [ngClass]="{
                'is-valid':
                  form11.get('testTimeLV')?.valid &&
                  form11.get('testTimeLV')?.touched,
                'is-invalid':
                  !form11.get('testTimeLV')?.valid &&
                  form11.get('testTimeLV')?.touched
              }"
            />
            <span class="invalid-feedback"
              >Please enter value for v rated for HV</span
            >
          </td>
          <td>
            <input
              type="number"
              class="form-control"
              formControlName="freqLV"
              [ngClass]="{
                'is-valid':
                  form11.get('freqLV')?.valid && form11.get('freqLV')?.touched,
                'is-invalid':
                  !form11.get('freqLV')?.valid && form11.get('freqLV')?.touched
              }"
            />
            <span class="invalid-feedback"
              >Please enter value for v rated for HV</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div class="fw-bold">Transformer Withstood the Test</div>
    <h2 class="text-center mt-3">OIL BDV TEST</h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="input-group">
          <div class="input-group-text">BDV of OIL Sample</div>
          <input
            type="number"
            class="form-control"
            value=""
            formControlName="BDVOFOilSampple"
            [ngClass]="{
              'is-valid':
                form11.get('BDVOFOilSampple')?.valid &&
                form11.get('BDVOFOilSampple')?.touched,
              'is-invalid':
                !form11.get('BDVOFOilSampple')?.valid &&
                form11.get('BDVOFOilSampple')?.touched
            }"
          />
          <span class="invalid-feedback"
            >Please enter value for v rated for HV</span
          >
          <div class="input-group-text">KV</div>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <button
        type="submit"
        class="btn btn-primary mb-2"
        [routerLink]="['/tests']"
      >
        Save and Next
      </button>
    </div>
  </form>
</div>
