<div class="text-center mt-4">
  <h1>Measurement Winding Resistance</h1>
  <form [formGroup]="form7" (ngSubmit)="createPage7Data(form7)">
    <h2>Primary Winding</h2>
    <div class="container">
      <table
        class="table table-striped table-bordered table-hover table-condensed"
      >
        <thead class="bg-primary">
          <tr>
            <th>Tap No.</th>
            <th>1U1V</th>
            <th>1V1W</th>
            <th>1U1W</th>
            <th>Ravg</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1V1_1"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_1')?.valid && form7.get('U1V1_1')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_1')?.valid && form7.get('U1V1_1')?.touched
                }"
                (ngModelChange)="handleU1V1_1($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V for 15 sec</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_1"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_1')?.valid && form7.get('V1W1_1')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_1')?.valid && form7.get('V1W1_1')?.touched
                }"
                (ngModelChange)="handleV1W1_1($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W for 15 sec</span
              >
            </td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1W1_1"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_1')?.valid && form7.get('U1W1_1')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_1')?.valid && form7.get('U1W1_1')?.touched
                }"
                (ngModelChange)="handleU1W1_1($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W for 15 sec</span
              > 
            </td>
            <td>
              <input 
                type="number" 
                class="form-control"  
                readonly
                value="{{ Ravg1Data }}" />
            </td>
          </tr>

          <!--  -->
          
          <tr>
            <td>2</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_2"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_2')?.valid && form7.get('U1V1_2')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_2')?.valid && form7.get('U1V1_2')?.touched
                }"
                (ngModelChange)="handleU1V1_2($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V for 15 sec</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_2"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_2')?.valid && form7.get('V1W1_2')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_2')?.valid && form7.get('V1W1_2')?.touched
                }"
                (ngModelChange)="handleV1W1_2($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W for 15 sec</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_2"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_2')?.valid && form7.get('U1W1_2')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_2')?.valid && form7.get('U1W1_2')?.touched
                }"
                (ngModelChange)="handleU1W1_2($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W for 15 sec</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg2Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>3</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_3"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_3')?.valid && form7.get('U1V1_3')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_3')?.valid && form7.get('U1V1_3')?.touched
                }"
                (ngModelChange)="handleU1V1_3($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_3"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_3')?.valid && form7.get('V1W1_3')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_3')?.valid && form7.get('V1W1_3')?.touched
                }"
                (ngModelChange)="handleV1W1_3($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_3"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_3')?.valid && form7.get('U1W1_3')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_3')?.valid && form7.get('U1W1_3')?.touched
                }"
                (ngModelChange)="handleU1W1_3($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg3Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>4</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_4"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_4')?.valid && form7.get('U1V1_4')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_4')?.valid && form7.get('U1V1_4')?.touched
                }"
                (ngModelChange)="handleU1V1_4($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_4"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_4')?.valid && form7.get('V1W1_4')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_4')?.valid && form7.get('V1W1_4')?.touched
                }"
                (ngModelChange)="handleV1W1_4($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_4"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_4')?.valid && form7.get('U1W1_4')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_4')?.valid && form7.get('U1W1_4')?.touched
                }"
                (ngModelChange)="handleU1W1_4($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg4Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>5</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_5"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_5')?.valid && form7.get('U1V1_5')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_5')?.valid && form7.get('U1V1_5')?.touched
                }"
                (ngModelChange)="handleU1V1_5($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_5"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_5')?.valid && form7.get('V1W1_5')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_5')?.valid && form7.get('V1W1_5')?.touched
                }"
                (ngModelChange)="handleV1W1_5($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_5"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_5')?.valid && form7.get('U1W1_5')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_5')?.valid && form7.get('U1W1_5')?.touched
                }"
                (ngModelChange)="handleU1W1_5($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg5Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>6</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_6"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_6')?.valid && form7.get('U1V1_6')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_6')?.valid && form7.get('U1V1_6')?.touched
                }"
                (ngModelChange)="handleU1V1_6($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_6"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_6')?.valid && form7.get('V1W1_6')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_6')?.valid && form7.get('V1W1_6')?.touched
                }"
                (ngModelChange)="handleV1W1_6($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_6"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_6')?.valid && form7.get('U1W1_6')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_6')?.valid && form7.get('U1W1_6')?.touched
                }"
                (ngModelChange)="handleU1W1_6($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg6Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>7</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_7"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_7')?.valid && form7.get('U1V1_7')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_7')?.valid && form7.get('U1V1_7')?.touched
                }"
                (ngModelChange)="handleU1V1_7($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_7"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_7')?.valid && form7.get('V1W1_7')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_7')?.valid && form7.get('V1W1_7')?.touched
                }"
                (ngModelChange)="handleV1W1_7($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_7"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_7')?.valid && form7.get('U1W1_7')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_7')?.valid && form7.get('U1W1_7')?.touched
                }"
                (ngModelChange)="handleU1W1_7($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg7Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>8</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_8"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_8')?.valid && form7.get('U1V1_8')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_8')?.valid && form7.get('U1V1_8')?.touched
                }"
                (ngModelChange)="handleU1V1_8($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_8"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_8')?.valid && form7.get('V1W1_8')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_8')?.valid && form7.get('V1W1_8')?.touched
                }"
                (ngModelChange)="handleV1W1_8($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_8"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_8')?.valid && form7.get('U1W1_8')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_8')?.valid && form7.get('U1W1_8')?.touched
                }"
                (ngModelChange)="handleU1W1_8($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg8Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>9</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_9"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_9')?.valid && form7.get('U1V1_9')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_9')?.valid && form7.get('U1V1_9')?.touched
                }"
                (ngModelChange)="handleU1V1_9($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_9"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_9')?.valid && form7.get('V1W1_9')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_9')?.valid && form7.get('V1W1_9')?.touched
                }"
                (ngModelChange)="handleV1W1_9($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_9"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_9')?.valid && form7.get('U1W1_9')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_9')?.valid && form7.get('U1W1_9')?.touched
                }"
                (ngModelChange)="handleU1W1_9($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg9Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>10</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_10"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_10')?.valid && form7.get('U1V1_10')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_10')?.valid && form7.get('U1V1_10')?.touched
                }"
                (ngModelChange)="handleU1V1_10($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_10"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_10')?.valid && form7.get('V1W1_10')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_10')?.valid && form7.get('V1W1_10')?.touched
                }"
                (ngModelChange)="handleV1W1_10($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_10"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_10')?.valid && form7.get('U1W1_10')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_10')?.valid && form7.get('U1W1_10')?.touched
                }"
                (ngModelChange)="handleU1W1_10($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg10Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>11</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_11"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_11')?.valid && form7.get('U1V1_11')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_11')?.valid && form7.get('U1V1_11')?.touched
                }"
                (ngModelChange)="handleU1V1_11($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_11"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_11')?.valid && form7.get('V1W1_11')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_11')?.valid && form7.get('V1W1_11')?.touched
                }"
                (ngModelChange)="handleV1W1_11($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_11"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_11')?.valid && form7.get('U1W1_11')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_11')?.valid && form7.get('U1W1_11')?.touched
                }"
                (ngModelChange)="handleU1W1_11($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg11Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>12</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_12"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_12')?.valid && form7.get('U1V1_12')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_12')?.valid && form7.get('U1V1_12')?.touched
                }"
                (ngModelChange)="handleU1V1_12($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_12"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_12')?.valid && form7.get('V1W1_12')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_12')?.valid && form7.get('V1W1_12')?.touched
                }"
                (ngModelChange)="handleV1W1_12($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_12"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_12')?.valid && form7.get('U1W1_12')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_12')?.valid && form7.get('U1W1_12')?.touched
                }"
                (ngModelChange)="handleU1W1_12($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg12Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>13</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_13"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_13')?.valid && form7.get('U1V1_13')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_13')?.valid && form7.get('U1V1_13')?.touched
                }"
                (ngModelChange)="handleU1V1_13($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_13"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_13')?.valid && form7.get('V1W1_13')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_13')?.valid && form7.get('V1W1_13')?.touched
                }"
                (ngModelChange)="handleV1W1_13($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_13"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_13')?.valid && form7.get('U1W1_13')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_13')?.valid && form7.get('U1W1_13')?.touched
                }"
                (ngModelChange)="handleU1W1_13($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg13Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>14</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_14"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_14')?.valid && form7.get('U1V1_14')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_14')?.valid && form7.get('U1V1_14')?.touched
                }"
                (ngModelChange)="handleU1V1_14($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_14"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_14')?.valid && form7.get('V1W1_14')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_14')?.valid && form7.get('V1W1_14')?.touched
                }"
                (ngModelChange)="handleV1W1_14($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_14"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_14')?.valid && form7.get('U1W1_14')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_14')?.valid && form7.get('U1W1_14')?.touched
                }"
                (ngModelChange)="handleU1W1_14($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg14Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>15</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_15"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_15')?.valid && form7.get('U1V1_15')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_15')?.valid && form7.get('U1V1_15')?.touched
                }"
                (ngModelChange)="handleU1V1_15($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_15"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_15')?.valid && form7.get('V1W1_15')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_15')?.valid && form7.get('V1W1_15')?.touched
                }"
                (ngModelChange)="handleV1W1_15($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_15"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_15')?.valid && form7.get('U1W1_15')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_15')?.valid && form7.get('U1W1_15')?.touched
                }"
                (ngModelChange)="handleU1W1_15($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg15Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>16</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_16"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_16')?.valid && form7.get('U1V1_16')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_16')?.valid && form7.get('U1V1_16')?.touched
                }"
                (ngModelChange)="handleU1V1_16($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_16"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_16')?.valid && form7.get('V1W1_16')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_16')?.valid && form7.get('V1W1_16')?.touched
                }"
                (ngModelChange)="handleV1W1_16($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_16"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_16')?.valid && form7.get('U1W1_16')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_16')?.valid && form7.get('U1W1_16')?.touched
                }"
                (ngModelChange)="handleU1W1_16($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg16Data }}" />
            </td>
          </tr>

          <!--  -->

          <tr>
            <td>17</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U1V1_17"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1V1_17')?.valid && form7.get('U1V1_17')?.touched,
                  'is-invalid':
                    !form7.get('U1V1_17')?.valid && form7.get('U1V1_17')?.touched
                }"
                (ngModelChange)="handleU1V1_17($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1V</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V1W1_17"
                [ngClass]="{
                  'is-valid':
                    form7.get('V1W1_17')?.valid && form7.get('V1W1_17')?.touched,
                  'is-invalid':
                    !form7.get('V1W1_17')?.valid && form7.get('V1W1_17')?.touched
                }"
                (ngModelChange)="handleV1W1_17($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1V1W </span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U1W1_17"
                [ngClass]="{
                  'is-valid':
                    form7.get('U1W1_17')?.valid && form7.get('U1W1_17')?.touched,
                  'is-invalid':
                    !form7.get('U1W1_17')?.valid && form7.get('U1W1_17')?.touched
                }"
                (ngModelChange)="handleU1W1_17($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of 1U1W</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ Ravg17Data }}" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <h2>Seccondary Winding</h2>
      <table
        class="table table-striped table-bordered table-hover table-condensed"
      >
        <thead>
          <tr>
            <th>2U2N</th>
            <th>2V2N</th>
            <th>2W2N</th>
            <th>Ravg</th>
          </tr>
        </thead>
        <tbody>
          <tr><tr>
            <td>17</td>
            <td><input 
              type="number" class="form-control"
              formControlName="U2V2"
                [ngClass]="{
                  'is-valid':
                    form7.get('U2V2')?.valid && form7.get('U2V2')?.touched,
                  'is-invalid':
                    !form7.get('U2V2')?.valid && form7.get('U2V2')?.touched
                }"
                (ngModelChange)="handleU2V2($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of U2V2</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="V2W2"
                [ngClass]="{
                  'is-valid':
                    form7.get('V2W2')?.valid && form7.get('V2W2')?.touched,
                  'is-invalid':
                    !form7.get('V2W2')?.valid && form7.get('V2W2')?.touched
                }"
                (ngModelChange)="handleV2W2($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of V2W2</span
              >
            </td>
            <td>
              <input 
                type="number" class="form-control"
                formControlName="U2W2"
                [ngClass]="{
                  'is-valid':
                    form7.get('U2W2')?.valid && form7.get('U2W2')?.touched,
                  'is-invalid':
                    !form7.get('U2W2')?.valid && form7.get('U2W2')?.touched
                }"
                (ngModelChange)="handleU2W2($event)"
                />
                <span class="invalid-feedback"
                >Please enter value of U2W2</span
              >
            </td>
            <td>
              <input 
                type="number" 
                class="form-control" 
                readonly 
                value="{{ RavgSecData }}" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-primary mb-5 mt-2">
      Save and Next
    </button>
  </form>
</div>
