<div class="text-center mt-4">
  <h1>Measurement of Insulation Resistance M</h1>
  <div class="container">
    <table
      class="table table-striped table-bordered table-hover table-condensed mt-2 w-50"
    >
      <tbody>
        <tr>
          <td>HV</td>
          <td>5 KV</td>
        </tr>
      </tbody>
    </table>

    <table
      class="table table-striped table-bordered table-hover table-condensed mt-2 w-50"
    >
      <tbody>
        <tr>
          <td>LV</td>
          <td>2.5 KV</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <table
      class="table mt-4 table-striped table-bordered table-hover table-condensed"
    >
      <thead class="bg-primary">
        <tr>
          <th colspan="2">Time</th>
          <th>HV-E</th>
          <th>LV-E</th>
          <th>HV-LV</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">15 Sec</td>
          <td><input type="number" class="form-control" /></td>

          <td><input type="number" class="form-control" /></td>

          <td><input type="number" class="form-control" /></td>
        </tr>
        <tr>
          <td colspan="2">60 Sec</td>
          <td><input type="number" class="form-control" /></td>

          <td><input type="number" class="form-control" /></td>

          <td><input type="number" class="form-control" /></td>
        </tr>
        <tr>
          <td colspan="2">600 Sec</td>
          <td><input type="number" class="form-control" /></td>

          <td><input type="number" class="form-control" /></td>

          <td><input type="number" class="form-control" /></td>
        </tr>
        <tr>
          <td colspan="2">PI</td>
          <td><input type="number" class="form-control" readonly /></td>

          <td><input type="number" class="form-control" readonly /></td>

          <td><input type="number" class="form-control" readonly /></td>
        </tr>
        <tr>
          <td colspan="2">DI</td>
          <td><input type="number" class="form-control" readonly /></td>

          <td><input type="number" class="form-control" readonly /></td>

          <td><input type="number" class="form-control" readonly /></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
