<div class="container">
  <h1>MEASUREMENT OF LOAD LOSS AND IMPEDANCE</h1>
  <form action="">
    <div class="form-row">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">
              Supply side :
            </span>
          </div>
          <input
            type="number"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">
              short :
            </span>
          </div>
          <input
            type="number"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">
              Ambient Temperature :
            </span>
          </div>
          <input
            type="number"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
      </div>
    </div>
  </form>
</div>
