<div class="text-center mt-4">
  <h1>INDUCED OVER VOLTAGE WITHSTAND TEST</h1>
  <div class="container"></div>
  <div class="container">
    <table
      class="table mt-4 table-striped table-bordered table-hover table-condensed"
    >
      <thead class="bg-primary">
        <tr>
          <th>Rated Voltage</th>
          <th>Test Voltage</th>
          <th>Test Time</th>
          <th>Frequency</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td aria-readonly="true">[Volts]</td>
          <td aria-readonly="true">[Volts]</td>
          <td aria-readonly="true">[Sec]</td>
          <td aria-readonly="true">[Hz]</td>
        </tr>

        <tr>
          <td><input type="number" class="form-control" readonly /></td>
          <td><input type="number" class="form-control" /></td>

          <td><input type="number" class="form-control" /></td>

          <td><input type="number" class="form-control" /></td>
        </tr>
      </tbody>
    </table>

    <div class="card">
      <div class="card-body">
        <input type="text border border-secondary" class="w-50" name="" id="" />
        <a class="btn btn-primary mx-2">Add a Remark</a>
      </div>
    </div>
  </div>
</div>
