<div class="mt-4">
  <h1 class="text-center">INDUCED OVER VOLTAGE WITHSTAND TEST</h1>
  <div class="container">
    <form [formGroup]="form12" (ngSubmit)="createPage12FromData(form12)">
      <table
        class="table mt-4 table-striped table-bordered table-hover table-condensed"
      >
        <thead class="bg-primary">
          <tr>
            <th>Rated Voltage</th>
            <th>Test Voltage</th>
            <th>Test Time</th>
            <th>Frequency</th>
            <th *ngIf="isRemark">Remark</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td aria-readonly="true">[Volts]</td>
            <td aria-readonly="true">[Volts]</td>
            <td aria-readonly="true">[Sec]</td>
            <td aria-readonly="true">[Hz]</td>
            <td rowspan="2" *ngIf="isRemark" class="align-middle">
              {{ isShowRemark }}
            </td>
          </tr>

          <tr>
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="reatedVoltagepage12"
                [ngClass]="{
                  'is-valid':
                    form12.get('reatedVoltagepage12')?.valid &&
                    form12.get('reatedVoltagepage12')?.touched,
                  'is-invalid':
                    !form12.get('reatedVoltagepage12')?.valid &&
                    form12.get('reatedVoltagepage12')?.touched
                }"
              />
              <span class="invalid-feedback"
                >Please enter value of rated voltage</span
              >
            </td>
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="testedVoltagePage12"
                [ngClass]="{
                  'is-valid':
                    form12.get('testedVoltagePage12')?.valid &&
                    form12.get('testedVoltagePage12')?.touched,
                  'is-invalid':
                    !form12.get('testedVoltagePage12')?.valid &&
                    form12.get('testedVoltagePage12')?.touched
                }"
              />
              <span class="invalid-feedback"
                >Please enter value of tested voltage</span
              >
            </td>

            <td>
              <input
                type="number"
                class="form-control"
                formControlName="testedTimePage12"
                [ngClass]="{
                  'is-valid':
                    form12.get('testedTimePage12')?.valid &&
                    form12.get('testedTimePage12')?.touched,
                  'is-invalid':
                    !form12.get('testedTimePage12')?.valid &&
                    form12.get('testedTimePage12')?.touched
                }"
              />
              <span class="invalid-feedback"
                >Please enter value of tested time</span
              >
            </td>

            <td>
              <input
                type="number"
                class="form-control"
                formControlName="frequencePage12"
                [ngClass]="{
                  'is-valid':
                    form12.get('frequencePage12')?.valid &&
                    form12.get('frequencePage12')?.touched,
                  'is-invalid':
                    !form12.get('frequencePage12')?.valid &&
                    form12.get('frequencePage12')?.touched
                }"
              />
              <span class="invalid-feedback"
                >Please enter value of frequency</span
              >
            </td>
          </tr>
        </tbody>
      </table>

      <div class="card">
        <div class="card-body">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Please add remark here"
              formControlName="remark"
              [ngClass]="{
                'is-valid':
                  form12.get('remark')?.valid && form12.get('remark')?.touched,
                'is-invalid':
                  !form12.get('remark')?.valid && form12.get('remark')?.touched
              }"
              (ngModelChange)="isAddremarkpage12($event)"
            />
            <span class="invalid-feedback">Please enter remark</span>
            <button
              class="btn btn-primary mx-2"
              type="button"
              (click)="addRemarkOfPage12()"
            >
              Add a Remark
            </button>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button
          class="btn btn-primary mt-4"
          [routerLink]="['/tests']"
          type="submit"
        >
          Save and Next
        </button>
      </div>
    </form>
  </div>
</div>
